* {
    box-sizing: border-box;
}

body{
    background-color: rgb(101, 99, 99);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #333;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: white;
    margin: 0;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.winnerMessage {
    text-align: center;
    margin-bottom: 20px;
}

.sqr {
    width: 12.5%;
    aspect-ratio: 1/1;
    border: 3px solid black;
    text-align: center;
}

.red-checker {
    background-image: url('../images/red-checker.png');
}

.black-checker {
    background-image: url('../images/black-checker.png');
}